/*FORM STYLES
=======================================*/
form input, textarea {
  width: 90%;
  margin: 20px;
  border: 2px solid black;
  font-size: 1.5em;
}

#address-input input {
  width: 80%;
}

#print-letter-section {
  /*position: relative;*/
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#trending-section li {
  padding: 0.5em;
}
