@media (min-width: 640px){
  .icon-menu {
    display: none;
  }

  #nav-bar ul li {
     display: inline;
  }

  .bio {
    max-width: 64%;
  }

  #about-section a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #about-section ul li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #about-section ul li {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
}

@media print {

  /*#print-letter-section {*/
    /*margin-top: 5cm;*/
  /*}*/

  /*#print-header-div {
  /*font-family: sans-serif;*/
  /*background-color: #fff;*/
  /*border: none;*/

  body {
    font-size: 4em !important;
    margin: 50cm !important;
  }
}
